<% 
let title = 'トップページ'; 
let description = 'トップページのディスクリプション'; 
let pageId = 'topPage'; 
%>
<%- include('./common/_header', { title: title, description: description, pageId: pageId }) %>

<main class="topMain c-main">
  
</main>

<%- include('./common/_footer')  %>