<main id="archive">
    <div class="wrapper">
        <div class="pageTtl">
            <h2 class="pageTtl__ttl"><span>B</span>LOG</h2>
            <p class="pageTtl__sub">ブログ</p>
        </div>
        <div id="category" class="category">
            <%_ if (pageId==='category'){ -%>
                <p class="category__name">TECHNOLOGY</p>
            <%_ } -%>
            <div id="category__btn" class="category__btn">CATEGORY</div>
            <ul id="category__ul" class="category__ul">
                <li><a href="./blog.html">ALL</a></li>
                <li class="current-cat"><a href="./category.html">TECHNOLOGY</a></li>
                <li><a href="./category.html">CURRY</a></li>
                <li><a href="./category.html">EVENT</a></li>
            </ul>
        </div>
        <div class="archive">
            <div class="archive__slide">
                <a href="./single.html" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
            <div class="archive__slide">
                <a href="#" class="archive__link">
                  <p class="archive__pic"><img src="assets/image/blog/tmb.jpg" alt="サムネイル画像" class="archive__img"></p>
                  <div class="archive__box">
                      <p class="archive__info">2023.09.28 | CATEGORY</p>
                      <p class="archive__cap">タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
                  </div>
                </a>
            </div>
        </div>
        <!-- PageNavi -->
        <div class="pagenation">
            <div class="wp-pagenavi">
                <a class="previouspostslink" rel="prev" href="#">&lt;</a>
                <a class="page larger" title="Page 1" href="#">1</a>
                <span class="current">2</span>
                <a class="page larger" title="Page 3" href="#">3</a>
                <a class="page larger" title="Page 4" href="#">4</a>
                <a class="page larger" title="Page 5" href="#">5</a>
                <a class="nextpostslink" rel="next" href="#">&gt;</a>
            </div>
        </div>
        <div class="pageBg">
            <div class="pageBg__img--01"></div>
            <div class="pageBg__img--02"></div>
        </div>
    </div>
</main>