@import "_variable.scss";

// テキスト無限ループ
.slideTxt {
    animation: slideTxtAnime 20s linear infinite;
}

@keyframes slideTxtAnime {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

// 円形テキスト回転
.rotateTxt {
    &::before {
        animation: rotateTxtAnime 30s linear infinite;
    }
}

@keyframes rotateTxtAnime {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
