/* ================================================================
base
================================================================ */

/* ================================================================
Google font
font-family: 'Allura', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
================================================================ */


html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-size: calc(10 / 390 * 100vw);  // SP

  // PC
  @media screen and (min-width: 770px) {
    font-size: calc(10 / 1440 * 100vw);
  }
}

body {
  color: #222;
  background: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: none;
  line-height: 1.7;
  overflow: hidden;
  width: 100%;
  font-size: 1.6rem;
}

img {
  display: block;
}
