@import "_variable.scss";

#archive {
  .wrapper {
    position: relative;
  }

  .pageTtl {
    margin-top: 112px;
    margin-left: 3.3rem;
    margin-bottom: 6rem;

    @media screen and (min-width: 770px) {
      margin-top: 139px;
      margin-left: 22rem;
      margin-bottom: 6.4rem;
    }

    &__ttl {
      @include secTtl("B");

      &::after {
        transform: scaleX(1);
      }
    }

    &__sub {
      font-size: 1.2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
      }
    }
  }

  .category {
    position: relative;
    top: 0;
    width: 33rem;
    margin: 0 auto;
    margin-bottom: 8rem;
    transition: 0.4s;

    @media screen and (min-width: 770px) {
      width: 43.7rem;
      margin-bottom: 8.5rem;
    }

    &__name {
      position: relative;
      top: 0;
      margin-bottom: 6rem;
      line-height: 0.97;
      font-size: 3.6rem;
      font-weight: 700;
      transition: 0.4s;

      @media screen and (min-width: 770px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        line-height: 0.88;
        font-size: 4rem;
      }

      &::before {
        content: "CATEGORY";
        display: block;
        width: 11.4rem;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
        background: #000;
        color: #fff;
        text-align: center;
        line-height: 1.6;
        font-size: 1.8rem;
        font-weight: 700;

        @media screen and (min-width: 770px) {
          width: 14.5rem;
          margin-bottom: 0;
          padding-top: 0.1rem;
          padding-bottom: 0.4rem;
          font-size: 2.4rem;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.7rem 0;
      border-bottom: 2px solid #000;
      font-size: 2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        display: none;
      }

      &::after {
        content: "";
        display: block;
        width: 3.5rem;
        aspect-ratio: 35 / 27;
        background: url(../image/blog/cat_arrow.svg) center center / contain no-repeat;
        transition: 0.3s;
      }
    }

    &__ul {
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      background: #fff;
      transform: translateY(99%);
      transition: 0.4s;

      @media screen and (min-width: 770px) {
        position: static;
        display: flex;
        justify-content: space-between;
        width: 40.5rem;
        height: auto;
        margin: 0 auto;
        transform: none;
        background: transparent;
      }

      a {
        display: block;
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: 700;

        @media screen and (min-width: 770px) {
          padding: 1rem 0;
          transition: 0.3s;
        }

        &:hover {
          @media screen and (min-width: 770px) {
            color: #888;
          }
        }
      }
    }

    .current-cat {
      @media screen and (min-width: 770px) {
        border-bottom: 2px solid #000;
        transition: 0.3s;
      }

      // a {
      //   &:hover {
      //     @media screen and (min-width: 770px) {
      //       color: #000;
      //     }
      //   }
      // }
      &:hover {
        @media screen and (min-width: 770px) {
          border-color: #888;
        }
      }
    }
  }

  .archive {
    width: 33rem;
    margin: 0 auto;
    margin-bottom: 8rem;

    @media screen and (min-width: 770px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5rem;
      column-gap: 3rem;
      width: 124.2rem;
    }

    &__slide {
      margin-bottom: 3rem;
      box-shadow: 0 0.4rem 4px rgba(0, 0, 0, 0.25);

      @media screen and (min-width: 770px) {
        width: 39.4rem;
        margin-bottom: 0;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__link {
      display: block;

      &:hover {
        img {
          @media screen and (min-width: 770px) {
            transform: scale(1.05);
          }
        }

        p {
          @media screen and (min-width: 770px) {
            color: #888;
          }
        }
      }
    }

    &__pic {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 330 / 186;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }
    }

    &__box {
      aspect-ratio: 383 / 134;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.90);
    }

    &__info {
      margin-bottom: 0.4rem;
      color: #4d4d4d;
      font-size: 1.4rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
        transition: 0.3s;
      }
    }

    &__cap {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.67;
      font-size: 1.8rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 2rem;
        transition: 0.3s;
      }
    }
  }

  .pagenation {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 17.2rem;

    // @media screen and (min-width: 770px) {
    //   margin-bottom: 18.2rem;
    // }
    @media screen and (min-width: 770px) {
      margin-bottom: 17.4rem;
    }
  }

  .wp-pagenavi {
    display: flex;
    gap: 0.2rem;

    a,
    span {
      display: block;
      width: 4rem;
      // padding: 0.9rem 0;
      padding: 0.7rem 0;
      background: #000;
      color: #fff;
      text-align: center;
      font-family: "futura-pt", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;

      &:nth-child(1) {
        border-radius: 999px 0 0 999px;
      }

      &:nth-last-child(1) {
        border-radius: 0 999px 999px 0;
      }
    }

    a {
      transition: 0.3s;

      &:hover {
        @media screen and (min-width: 770px) {
          background: #aaa;
        }
      }
    }

    .current {
      background: #888;
    }
  }

  .pageBg {
    position: absolute;
    top: -112px;
    left: 0;
    z-index: -5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 308vh;
    transform: translateX(-42.5vh);

    @media screen and (min-width: 770px) {
      top: -139px;
      left: calc(3rem * 1.73);
    }

    @media screen and (min-width: 1000px) {
      left: -5rem;
    }

    &__img {
      &--01 {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 308vh;
        aspect-ratio: 1392 / 2606;
        background: url(../image/child/child_bg1.png) center center / cover;
      }

      &--02 {
        position: absolute;
        top: 112px;
        z-index: -2;
        height: 260vh;
        aspect-ratio: 1224 / 2202;
        transform: translateX(-20px);
        background: url(../image/child/child_bg2.png) center center / cover;
      }
    }
  }
}