@import '_variable.scss';
// JavaScriptで付け外しするclass

// ----------スライドメニュー--------------------
.translateNav {
    transform: translateY(0);

    &::after {
        transform: rotate(23deg) translate(50%, 20%);
    }

    .gnav__sp {
        transform: translateX(0);
        opacity: 1;
        transition: 0.4s 0.4s; // メニュー閉じる時はすぐに戻す
    }
}

// メニューアイコン変形
.rotateTop {
    transform: rotate(45deg);
}

.hideMiddle {
    opacity: 0;
}

.rotateBottom {
    transform: rotate(-45deg);
}

// ヘッダーロゴ色反転
.changeLogoColor {
    filter: invert(100%);
}

// ----------各要素の表示--------------------
// 最初は非表示
.hidden {
    transform: translateX(-5%);
    opacity: 0;
}

// 表示
#top {
    // 付与するクラス
    .show {
        // about
        .about {
            &__ttl {
                &Inner {
                    @include showTtlInner;
                }
            }

            &__box {
                @include slideIn(0.6s);
            }

            &__btn {
                @include slideIn(0.9s);
            }

            &__bgBox {
                &::before {
                    animation: scaleDown 0.6s 0.1s forwards;
                    @keyframes scaleDown {
                        100% {
                            transform: scaleY(0);
                        }
                    }
                }
            }
        }

        // service
        .service {
            &__ttl {
                @include showUnderLine;

                &Inner {
                    @include showTtlInner;
                }
            }

            &__sub, &__txt {
                @include slideIn(0.6s);
            }

            &__btn {
                @include slideIn(0.9s);
            }

            &__box {
                @include slideIn(1.2s);
            }
        }

        // blog
        .blog {
            &__ttl {
                @include showUnderLine;

                &Inner {
                    @include showTtlInner;
                }
            }

            &__sub {
                @include slideIn(0.6s);
            }

            &__btn {
                @include slideIn(0.9s);
            }
        }

        // member
        .member {
            &__ttl {
                @include showUnderLine;

                &Inner {
                    @include showTtlInner;
                }
            }

            &__sub {
                @include slideIn(0.6s);
            }

            &__pic {
                @include slideIn(0.9s);
            }

            &__txt {
                @include slideIn(1.2s);
            }

            &__btn {
                @include slideIn(1.5s);
            }
        }

        // recruit
        &.recruit {
            @include slideIn(0.6s);

            .recruit {
                &__wrapper {
                    @include slideIn(0.9s);
                }
            }
        }

        // news
        .news {
            &__ttl {
                @include showUnderLine;

                &Inner {
                    @include showTtlInner;
                }
            }

            &__sub {
                @include slideIn(0.6s);
            }

            &__ul {
                @include slideIn(0.9s);
            }

            &__btn {
                @include slideIn(1.2s);
            }
        }
    }
}

// ----------BLOGカテゴリーリスト展開用--------------------
#archive {
    .opened {
        top: -4rem;

        .category {
            &__name {
                top: 2rem;
            }

            &__btn {
                &::after {
                    transform: rotate(180deg);
                }
            }

            &__ul {
                height: 24rem;
                padding: 1rem 0;
            }
        }
    }
}