@import "_variable.scss";

#single {
  .wrapper {
    position: relative;
  }

  .pageTtl {
    margin-top: 112px;
    margin-left: 3.3rem;
    margin-bottom: 6rem;

    @media screen and (min-width: 770px) {
      margin-top: 139px;
      margin-left: 22rem;
      margin-bottom: 6.7rem;
    }

    &__ttl {
      @include secTtl("B");

      &::after {
        transform: scaleX(1);
      }
    }

    &__sub {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  
  .content {
    width: 36rem;
    margin: 0 auto;
    margin-bottom: 18rem;
    padding: 3.5rem 1.5rem;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0.4rem 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 770px) {
      width: 124rem;
      margin-bottom: 26.5rem;
      padding: 10rem 12rem;
    }

    &__info {
      margin-bottom: 2rem;
      color: #4d4d4d;
      font-size: 1.4rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        margin-bottom: 3rem;
        font-size: 1.6rem;
      }
    }

    &__cap {
      margin-bottom: 3rem;
      line-height: 1.4;
      font-size: 2.2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        margin-bottom: 6rem;
        line-height: 1;
        font-size: 3.4rem;
      }
    }

    &__pic {
      width: 100%;
      aspect-ratio: 1000 / 592;
      margin-bottom: 4rem;

      @media screen and (min-width: 770px) {
        margin-bottom: 6rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    // ユーザー編集エリア
    &__area {
      margin-bottom: 8rem;
      font-size: 1.4rem; // 基本テキスト

      @media screen and (min-width: 770px) {
        line-height: 1.75;
        font-size: 1.6rem; // 基本テキスト
      }

      // 各要素間の余白
      &>* {
        margin-bottom: 1.5rem;

        @media screen and (min-width: 770px) {
          margin-bottom: 2rem;
        }

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }

      h2 {
        line-height: 1;
        font-size: 2.2rem;
        font-weight: 700;

        @media screen and (min-width: 770px) {
          font-size: 2.8rem;
        }
      }

      h3 {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #000;
        line-height: 1.17;
        font-size: 1.8rem;
        font-weight: 700;

        @media screen and (min-width: 770px) {
          padding-bottom: 1rem;
          font-size: 2.4rem;
        }
      }

      h4 {
        padding-left: 1rem;
        padding-bottom: 0.1rem;
        border-left: 4px solid #000;
        line-height: 1.4;
        font-size: 1.6rem;
        font-weight: 700;

        @media screen and (min-width: 770px) {
          padding-bottom: 0.3rem;
          font-size: 2rem;
        }
      }

      h5 {
        font-size: 1.4rem;
        font-weight: 700;

        @media screen and (min-width: 770px) {
          font-size: 1.6rem;
        }
      }

      strong {
        font-weight: 700;
      }

      a {
        color: #00c2ff;
        font-weight: 700;
        transition: 0.3s;

        &:hover {
          @media screen and (min-width: 770px) {
            color: #8adbf3;
          }
        }
      }

      table, th, td {
        border-collapse: collapse;
        border: 1px solid #999;
        text-align: left;
      }

      th, td {
        padding: 0.5rem 1rem;
        line-height: 2.2;

        @media screen and (min-width: 770px) {
          padding: 1rem 2rem;
        }
      }

      table {
        width: 100%;
      }

      th {
        background: #ebebeb;
      }

      ol {
        margin-left: 1.8rem;
        list-style-type: decimal;

        li {
          padding-left: 0.4rem;

          @media screen and (min-width: 770px) {
            padding-left: 0.9rem;
          }
        }
      }

      ul {
        margin-left: 2rem;
        list-style-type: disc;

        li {
          padding-left: 0.2rem;

          @media screen and (min-width: 770px) {
            padding-left: 0.5rem;
          }
        }
      }

      li {
        &::marker {
          color: #ED1E79;

          @media screen and (min-width: 770px) {
            line-height: 1.67;
            font-size: 1.8rem;
          }
        }
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      font-family: "futura-pt", sans-serif;
      font-size: 1.4rem;
      font-weight: 500;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
      }
    }

    &__prev {
      &Link {
        position: relative;
        display: block;
        width: 5.6rem;
        text-align: right;
        transition: 0.3s;

        @media screen and (min-width: 770px) {
          width: 7.4rem;
        }

        &:hover {
          @media screen and (min-width: 770px) {
            filter: invert(60%);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 1.5rem;
          aspect-ratio: 192 / 82;
          transform: translate(0, -50%) rotate(180deg);
          background: url(../image/single/arrow_black.svg) center center / contain no-repeat;

          @media screen and (min-width: 770px) {
            width: 1.92rem;
          }
        }
      }
    }

    &__next {
      &Link {
        position: relative;
        display: block;
        width: 5.6rem;
        transition: 0.3s;

        @media screen and (min-width: 770px) {
          width: 7.4rem;
        }

        &:hover {
          @media screen and (min-width: 770px) {
            filter: invert(60%);
          }
        }
        
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 1.5rem;
          aspect-ratio: 192 / 82;
          transform: translate(0, -50%);
          background: url(../image/single/arrow_black.svg) center center / contain no-repeat;

          @media screen and (min-width: 770px) {
            width: 1.92rem;
          }
        }
      }
    }
  }

  .pageBg {
    position: absolute;
    top: -112px;
    left: 0;
    z-index: -5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 308vh;
    transform: translateX(-42.5vh);

    @media screen and (min-width: 770px) {
      top: -139px;
      left: calc(3rem * 1.73);
    }

    @media screen and (min-width: 1000px) {
      left: -5rem;
    }

    &__img {
      &--01 {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 308vh;
        aspect-ratio: 1392 / 2606;
        background: url(../image/child/child_bg1.png) center center / cover;
      }

      &--02 {
        position: absolute;
        top: 112px;
        z-index: -2;
        height: 260vh;
        aspect-ratio: 1224 / 2202;
        transform: translateX(-20px);
        background: url(../image/child/child_bg2.png) center center / cover;
      }
    }
  }
}