@import "_variable.scss";

#top {

  // メインビジュアル
  .mv {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;

    &__img {
      &Box {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;

        @media screen and (min-width: 1000px) {
          left: -3.4rem;
        }
      }

      // 中央グラデーション画像
      &--01 {
        position: absolute;
        height: 100vh;
        aspect-ratio: 664 / 812;
        background: url(../image/top/mv_city.png) center center / cover;
      }

      // グレーライン
      &--02 {
        position: absolute;
        bottom: -1px;
        z-index: -1;
        height: 86.7vh;
        aspect-ratio: 620 / 703;
        transform: translateX(-13%);
        background: url(../image/top/mv_bg1.png) center center / cover;
      }

      // 狼
      &--03 {
        position: absolute;
        bottom: 0;
        z-index: 1;
        height: 68vh;
        aspect-ratio: 609 / 556;
        transform: translateX(-23%);
        background: url(../image/top/mv_wolf.png) center center / cover;

        @media screen and (min-width: 1000px) {
          z-index: -1;
          height: 84.7vh;
          transform: translateX(43%);
        }
      }

      // 葉
      &--04 {
        position: absolute;
        bottom: 0;
        right: -170px;
        z-index: -2;
        width: 66rem;
        aspect-ratio: 1140 / 812;
        background: url(../image/top/mv_bg2.png) center center / cover;

        @media screen and (min-width: 1000px) {
          right: auto;
          left: 27%;
          width: 114rem;
        }
      }
    }

    &__txtBox {
      width: 35rem;
      margin: 0 auto;
      margin-top: 11.8vh;

      @media screen and (min-width: 1000px) {
        position: absolute;
        top: 50%;
        left: 0;
        width: fit-content;
        margin: 0;
        margin-left: 3.1rem;
        transform: translateY(-50%);
      }
    }

    &__catchcopy {
      &--en {
        line-height: 0.9;
        letter-spacing: -0.03em;
        font-family: $en;
        font-size: 6.7rem;

        @media screen and (min-width: 1000px) {
          font-size: 11.8rem;
        }

        &:nth-child(3) {
          margin-bottom: .5rem;

          &::after {
            content: "";
            display: block;
            height: 1.2px;
            margin-top: 1rem;
            margin-left: calc(50% - 50vw);
            background: #000;

            @media screen and (min-width: 1000px) {
              height: 2px;
            }
          }
        }

        span {
          position: relative;

          &::before {
            content: "U";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            background: #000;
            color: #fff;
          }
        }
      }

      &--ja {
        letter-spacing: 0.04em;
        font-size: 1.5rem;
        font-weight: 700;

        @media screen and (min-width: 1000px) {
          padding-left: 0.5rem;
          font-size: 2.5rem;
        }
      }
    }

    &__roundIcon {
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12.7vh;
      aspect-ratio: 1 / 1;
      background: url(../image/top/round_logo.svg) center center / contain;

      @media screen and (min-width: 1000px) {
        bottom: 5.1rem;
        left: 5.1rem;
        height: 13.3vh;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 16vh;
        aspect-ratio: 1 / 1;
        background: url(../image/top/round_text.svg) center center / contain;

        @media screen and (min-width: 1000px) {
          height: 16.7vh;
        }
      }
    }
  }

  // アバウトセクション
  .about {
    position: relative;
    width: 33rem;
    margin: 0 auto;
    margin-bottom: 13rem;
    padding-top: 13rem;

    @media screen and (min-width: 770px) {
      width: fit-content;
      margin-bottom: 12rem;
      padding-top: 17rem;
    }

    &__ttl {
      margin-bottom: 4rem;
      text-align: center;
      font-family: $en;
      font-size: 3.9rem;

      @media screen and (min-width: 770px) {
        font-size: 4.9rem;
      }
    }

    &__box {
      margin-bottom: 4rem;
    }

    &__txt {
      line-height: 2;
      font-size: 1.7rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        line-height: 1.67;
        font-size: 2.1rem;
      }

      &:nth-child(2) {
        @media screen and (min-width: 770px) {
          transform: translateX(-2.1rem);
        }
      }

      &:nth-child(3) {
        @media screen and (min-width: 770px) {
          transform: translateX(-4.2rem);
        }
      }
    }

    &__br {
      @media screen and (min-width: 770px) {
        display: none;
      }
    }

    &__btn {
      @include roundBtn;
      margin: 0 auto;
    }

    &__bg {
      &Box {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 308vh;
        transform: translateX(-42.5vh);

        @media screen and (min-width: 1000px) {
          left: -3.4rem;
        }
      }

      &Img {
        &--01 {
          position: absolute;
          top: 0;
          height: 308vh;
          aspect-ratio: 1392 / 2606;
          background: url(../image/top/top_bg1.png) center center / cover;
        }

        &--02 {
          position: absolute;
          top: 112px;
          z-index: -1;
          height: 260vh;
          aspect-ratio: 1224 / 2202;
          transform: translateX(-20px);
          background: url(../image/top/top_bg2.png) center center / cover;
        }
      }
    }
  }

  // サービスセクション
  .service {
    width: 33rem;
    margin: 0 auto;
    margin-bottom: 13rem;

    @media screen and (min-width: 770px) {
      display: flex;
      justify-content: space-between;
      width: 100rem;
      margin-bottom: 16.7rem;
    }

    &__box {
      &:nth-child(1) {
        margin-bottom: 6rem;

        @media screen and (min-width: 770px) {
          width: 35rem;
          margin: 0;
        }
      }
    }

    &__ttl {
      @include secTtl("S");
    }

    &__sub {
      margin-bottom: 4rem;
      font-size: 1.2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
      }
    }

    &__txt {
      margin-bottom: 4rem;
      line-height: 1.78;
      font-size: 1.4rem;

      @media screen and (min-width: 770px) {
        line-height: 1.75;
        font-size: 1.6rem;
      }
    }

    &__btn {
      @include roundBtn;
      margin: 0 auto;

      @media screen and (min-width: 770px) {
        margin: 0;
      }
    }

    &__pic {
      position: relative;

      @media screen and (min-width: 770px) {
        width: 60.9rem;
        aspect-ratio: 609 / 359;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 3rem;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background: #e6e6e6;

        @media screen and (min-width: 770px) {
          top: 3.1rem;
          left: 5rem;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // ブログセクション
  .blog {
    margin-bottom: 13rem;

    @media screen and (min-width: 770px) {
      margin-bottom: 12.5rem;
    }

    &__box {
      width: fit-content;
      margin: 0 auto;
    }

    &__ttl {
      @include secTtl("B");

      &::after {
        margin-left: 0;
        margin-right: calc(50% - 50vw);
      }
    }

    &__sub {
      margin-bottom: 4rem;
      text-align: right;
      font-size: 1.2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
      }
    }

    // Swiper周り
    &-swiper {
      margin-left: 3rem;
      margin-bottom: 4rem;

      @media screen and (min-width: 770px) {
        margin-left: 0;
        margin-bottom: 5rem;
        padding-left: 17%;
      }
    }

    &__link {
      display: block;

      &:hover {
        img {
          @media screen and (min-width: 770px) {
            transform: scale(1.05);
          }
        }

        p {
          @media screen and (min-width: 770px) {
            color: #888;
          }
        }
      }
    }

    &__pic {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 300 / 168;
      margin-bottom: 2.7rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
      }
    }

    &__info {
      margin-bottom: 0.4rem;
      color: #4d4d4d;
      font-size: 1.4rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
        transition: 0.3s;
      }
    }

    &__cap {
      line-height: 1.67;
      font-size: 1.8rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        line-height: 1.75;
        font-size: 2rem;
        transition: 0.3s;
      }
    }

    &__btn {
      @include roundBtn;
      margin: 0 auto;
    }
  }

  // メンバーセクション
  .member {
    margin-bottom: 10rem;

    @media screen and (min-width: 770px) {
      margin-bottom: 12rem;
    }

    &__box {
      width: 33rem;
      margin: 0 auto;

      @media screen and (min-width: 770px) {
        width: 100rem;
      }
    }

    &__ttl {
      @include secTtl("M");
    }

    &__sub {
      margin-bottom: 4rem;
      font-size: 1.2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
      }
    }

    &__pic {
      position: relative;
      display: block;
      width: 33.5rem;
      aspect-ratio: 335 / 198;
      margin-bottom: 5rem;

      @media screen and (min-width: 770px) {
        width: 100rem;
        aspect-ratio: 1000 / 316;
        margin: 0 auto;
        margin-bottom: 6rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 31rem;
        aspect-ratio: 310 / 272;
        transform: translate(60%, -40%);
        background: url(../image/top/plants.png) center center / cover;

        @media screen and (min-width: 770px) {
          width: 51rem;
          transform: translate(47%, -40%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 3rem;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background: #e6e6e6;

        @media screen and (min-width: 770px) {
          top: 2.6rem;
          left: 4.4rem;
        }
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__txt {
      width: 33rem;
      margin: 0 auto;
      margin-bottom: 4rem;
      line-height: 2;
      font-size: 1.4rem;

      @media screen and (min-width: 770px) {
        width: 100rem;
        margin-bottom: 5rem;
        line-height: 1.75;
        font-size: 1.6rem;
      }
    }

    &__btn {
      @include roundBtn;
      margin: 0 auto;

      @media screen and (min-width: 770px) {
        margin: 0;
        margin-left: 21rem;
      }
    }
  }

  // ループテキスト
  .loopTxt {
    margin-bottom: 10rem;

    @media screen and (min-width: 770px) {
      margin-bottom: 12.6rem;
    }

    &__wrapper {
      display: flex;
    }

    &__img {
      height: 7rem;
      aspect-ratio: 2108 / 140;
      background: url(../image/top/loop_text.svg) center center / contain;

      @media screen and (min-width: 770px) {
        height: 12.8rem;
      }
    }
  }

  // リクルートバナー
  .recruit {
    position: relative;
    margin-bottom: 13rem;
    background: url(../image/top/banner_bg_sp.jpg) center center / cover;

    @media screen and (min-width: 770px) {
      margin-bottom: 13.7rem;
      background: url(../image/top/banner_bg_pc.jpg) center center / cover;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: block;
      height: 29.1rem;
      aspect-ratio: 419 / 539;
      transform: translate(-40%, 5%);
      background: url(../image/top/banner_climbing.png) center center / contain;
      pointer-events: none;
      transition: 0.4s;

      @media screen and (min-width: 770px) {
        height: 52rem;
        transform: translate(0, 5%);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 0;
      display: block;
      width: 11.5rem;
      aspect-ratio: 257 / 371;
      transform: translate(-20%, -40%);
      background: url(../image/top/banner_logo.svg) center center / contain;
      transition: 0.4s;

      @media screen and (min-width: 770px) {
        width: 24rem;
        transform: translate(-40%, -47%);
      }
    }

    &:hover {
      &::before {
        @media screen and (min-width: 770px) {
          transform: translate(2%, 5%) scale(1.05);
        }
      }

      &::after {
        @media screen and (min-width: 770px) {
          transform: translate(-43%, -47%) scale(1.05);
        }
      }
    }

    &__link {
      position: relative;
      z-index: 1;
      display: block;
      padding: 2rem 1.5rem 1.8rem;

      @media screen and (min-width: 770px) {
        padding: 2rem;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3.8rem 0 2.5rem;
      border: 2px solid #000;

      @media screen and (min-width: 770px) {
        padding: 12.2rem 0 6.9rem;
      }
    }

    &__catchcopy {
      @include textGrad(90deg, 0%, 100%);
      position: relative;
      width: fit-content;
      margin-bottom: 1.9rem;
      padding-left: 5.3rem;
      line-height: 1;
      font-family: $en;
      font-size: 3.8rem;

      @media screen and (min-width: 770px) {
        margin-bottom: 1.5rem;
        padding: 0;
        font-size: 6.7rem;
      }

      &::before {
        content: "You Can!";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        padding: 1rem;
        transform: rotate(-16.6deg) translate(10%, -40%);
        background: #b3b3b3;
        font-family: 'Allura', cursive;
        font-size: 4rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (min-width: 770px) {
          padding: 2rem;
          transform: rotate(-16.6deg) translate(-20%, -72%);
          font-size: 9rem;
        }
      }
    }

    &__txt {
      width: fit-content;
      margin-bottom: 2.4rem;
      text-align: center;
      line-height: 1.5;
      font-size: 1.4rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        margin-bottom: 2.1rem;
        font-size: 2rem;
      }
    }

    &__br {
      &--pc {
        display: none;

        @media screen and (min-width: 770px) {
          display: block;
        }
      }

      &--sp {
        @media screen and (min-width: 770px) {
          display: none;
        }
      }
    }

    &__btn {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16.7rem;
      padding: 1rem 0;
      transform: skewX(-20deg);
      background: linear-gradient(90deg, #FF00D1 0%, #F7931E 100%);

      @media screen and (min-width: 770px) {
        width: 22rem;
      }

      &::before {
        @media screen and (min-width: 770px) {
          content: "";
          position: absolute;
          display: block;
          width: 105%;
          aspect-ratio: 1 / 1;
          transform: scale(0);
          border-radius: 50%;
          background: linear-gradient(90deg, #0000A9 0%, #970054 100%);
          transition: 0.4s;
        }
      }

      &:hover {
        &::before {
          @media screen and (min-width: 770px) {
            transform: none;
          }
        }
      }

      &Txt {
        display: block;
        transform: skewX(20deg);
        text-align: center;
        color: #fff;
        font-family: "futura-pt", sans-serif;
        font-size: 1.3rem;

        @media screen and (min-width: 770px) {
          font-size: 1.6rem;
        }
      }
    }
  }

  // ニュースセクション
  .news {
    width: 33rem;
    margin: 0 auto;
    margin-bottom: 17.2rem;

    @media screen and (min-width: 770px) {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100rem;
      margin-bottom: 13.4rem;
    }

    &__box {
      position: relative;
      top: -1.2rem;
    }

    &__ttl {
      @include secTtl("N");
    }

    &__sub {
      margin-bottom: 4rem;
      font-size: 1.2rem;
      font-weight: 700;

      @media screen and (min-width: 770px) {
        font-size: 1.6rem;
      }
    }

    &__ul {
      margin-bottom: 4rem;
      border-top: 1px solid #000;

      @media screen and (min-width: 770px) {
        width: 73.1rem;
        margin: 0;
      }
    }

    &__list {
      border-bottom: 1px solid #000;
    }

    &__link {
      display: block;
      padding: 1.5rem 0;
      transition: 0.2s;

      @media screen and (min-width: 770px) {
        display: flex;
        align-items: center;
        padding: 1.9rem 0;
      }

      &:hover {
        @media screen and (min-width: 770px) {
          background: #eee;
        }
      }
    }

    &__date {
      line-height: 2;
      font-size: 1.4rem;

      @media screen and (min-width: 770px) {
        width: 17.5rem;
        text-align: center;
        line-height: 1.75;
        font-size: 1.6rem;
      }
    }

    &__cap {
      line-height: 1.86;
      font-size: 1.5rem;

      @media screen and (min-width: 770px) {
        width: 55.6rem;
        line-height: 1.75;
        font-size: 1.6rem;
      }
    }

    &__btn {
      @include roundBtn;
      margin: 0 auto;

      @media screen and (min-width: 770px) {
        position: absolute;
        bottom: 0;
      }
    }
  }
}