/* ================================================================
変数
================================================================ */

// レスポンシブ
$w1800: "only screen and (max-width:1800px) ";
$w1600: "only screen and (max-width:1600px) ";
$w1400: "only screen and (max-width:1400px) ";
$w1200: "only screen and (max-width:1200px) ";
$tab: "only screen and (max-width:999px) ";
$pc: "only screen and (min-width:769px) ";
$sp: "only screen and (max-width:769px) ";
$sp500: "only screen and (max-width:500px) ";
$sp400: "only screen and (max-width:400px) ";
$sp350: "only screen and (max-width:350px) ";
$hover: "(hover: hover) and (pointer: fine)";

// 色
$colorBlack: #000;
$colorWhite: #fff;
$colorOrange: #FFB54B;
$colorGray: #888;

// フォント
$en: 'M PLUS 1', sans-serif;
$ja: 'Noto Sans JP', sans-serif;

/* ================================================================
mixin
================================================================ */

// ----------ナビゲーション ボタン--------------------
@mixin navBtn {
  overflow: hidden;
  width: 24.1rem;
  transform: skewX(-20deg);
  border: 1px solid #fff;

  &Link {
    position: relative;
    display: block;
    padding: 1.3rem 0;
    transform: skewX(20deg);
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.4s;

    &::before {
      @media screen and (min-width: 770px) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 120%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: #fff;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.4s;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 1.9rem;
      aspect-ratio: 192 / 82;
      margin-left: 2rem;
      transform: translateY(-50%);
      background: url(../image/arrow.svg) center center / contain no-repeat;
      transition: 0.4s;
    }

    &:hover {
      @media screen and (min-width: 770px) {
        color: #000;
        letter-spacing: 0.05em;
      }

      &::before {
        @media screen and (min-width: 770px) {
          transform: translate(-50%, -50%)
        }
      }

      &::after {
        @media screen and (min-width: 770px) {
          filter: invert(100%);
        }
      }
    }
  }
}


// ----------READ MOREボタン--------------------
@mixin roundBtn {
  width: 16.8rem;

  a {
    display: block;
    padding: 0.8rem 0;
    border-radius: 999px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;

    @media screen and (min-width: 770px) {
      overflow: hidden;
      position: relative;
      background: transparent;
      transition: 0.4s;
    }

    &::before {
      @media screen and (min-width: 770px) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -2;
        display: block;
        width: 105%;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%);
        background: #000;
      }
    }

    &::after {
      @media screen and (min-width: 770px) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 105%;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        background: #fff;
        transition: 0.4s;
      }
    }

    &:hover {
      @media screen and (min-width: 770px) {
        color: #000;
        letter-spacing: 0.05em;
      }

      &::after {
        @media screen and (min-width: 770px) {
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}


// ----------セクションタイトル--------------------
@mixin secTtl($c) {
  width: fit-content;
  margin-bottom: 0.5rem;
  // line-height: 1;
  line-height: 0.9;
  font-family: $en;
  font-size: 5.3rem;

  @media screen and (min-width: 770px) {
    font-size: 7.1rem;
  }

  //下線
  &::after {
    content: "";
    display: block;
    height: 1.2px;
    margin-top: 0.5rem;
    margin-left: calc(50% - 50vw);
    background: #000;
    transform: scaleX(0);
    transform-origin: left;

    @media screen and (min-width: 770px) {
      height: 2px;
    }
  }

  span {
    position: relative;
    
    //一文字目
    &::before {
      content: $c;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      padding-top: 0.3rem;
      background: #000;
      color: #fff;
    }
  }
}
// 下線の出現アニメーション
@mixin showUnderLine {
  &::after {
    animation: scaleUpLine 0.5s 0.3s forwards;
    @keyframes scaleUpLine {
      100% {
        transform: scaleX(1);
      }
    }
  }
}


// ----------タイトルインナー--------------------
// デフォルト
@mixin ttlInner {
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
  -webkit-text-fill-color: transparent;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 120%;
    height: 100%;
    background: #000;
    transform: translateX(-151%) skew(-23deg);
  }

  span {
    &::before {
      transform: scaleX(0) translateY(-50%);
    }
  }
}

// 出現アニメーション
@mixin showTtlInner {
  // テキスト表示
  animation: showTtl 0.5s 0.3s forwards;
  @keyframes showTtl {
    100% {
      -webkit-text-fill-color: currentcolor;
    }
  }

  &::before {
    // 流れる黒いBox
    animation: slideBox 0.5s 0.3s forwards;
    @keyframes slideBox {
      100% {
        transform: translateX(151%) skew(-23deg);
      }
    }
  }

  span {
    &::before {
      // 一文字目の表示
      animation: scaleUpBg 0.1s 0.3s forwards;
      @keyframes scaleUpBg {
        100% {
          transform: scaleX(1) translateY(-50%);
        }
      }
    }
  }
}


// ----------各要素スライドイン--------------------
@mixin slideIn($delay) {
  animation: slideInAnime 0.3s $delay forwards;
  @keyframes slideInAnime {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}


// ----------グラデーションテキスト--------------------
@mixin textGrad($deg: 90deg, $s: 0%, $e: 40%) {
  background: linear-gradient($deg, #0000A9 $s, #970054 $e);
  -webkit-background-clip: text; //テキストでくり抜く
  -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
}


// ----------CONTACTページ--------------------
// 必須マーク
@mixin required {
  display: flex;
  align-items: center;
  gap: 1rem;

  &::after {
    content: "必須";
    display: block;
    width: 4.4rem;
    padding-bottom: 0.1rem;
    background: #ED1E79;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
}

// テキスト入力欄
@mixin inputTxt {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #A0A0A0;
  border-radius: 0.5rem;

  @media screen and (min-width: 770px) {
    padding: 1rem;
  }
}