/* ================================================================
変数
================================================================ */

// レスポンシブ
$w1800: "only screen and (max-width:1800px) ";
$w1600: "only screen and (max-width:1600px) ";
$w1400: "only screen and (max-width:1400px) ";
$w1200: "only screen and (max-width:1200px) ";
$tab: "only screen and (max-width:999px) ";
$pc: "only screen and (min-width:769px) ";
$sp: "only screen and (max-width:769px) ";
$sp500: "only screen and (max-width:500px) ";
$sp400: "only screen and (max-width:400px) ";
$sp350: "only screen and (max-width:350px) ";
$hover: "(hover: hover) and (pointer: fine)";

// 色
$colorBlack: #000;
$colorWhite: #fff;
$colorOrange: #FFB54B;
$colorGray: #888;
$colorDarkGray: #4d4d4d;

/* ================================================================
mixin
================================================================ */



@mixin textGrad($deg: 90deg, $s: 0%, $e: 40%) {
  background: linear-gradient($deg, #6fc3d3 $s, #0e7092 $e);
  -webkit-background-clip: text; //テキストでくり抜く
  -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
}

