@charset "UTF-8";
/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
#top .mv {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}
#top .mv__imgBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 770px) {
  #top .mv__imgBox {
    left: 5.19rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__imgBox {
    left: -3.4rem;
  }
}
#top .mv__img--01 {
  position: absolute;
  height: 100vh;
  aspect-ratio: 664/812;
  background: url(../image/top/mv_city.png) center center/cover no-repeat;
}
#top .mv__img--02 {
  position: absolute;
  bottom: -1px;
  z-index: -1;
  height: 86.7vh;
  aspect-ratio: 620/703;
  transform: translateX(-13%);
  background: url(../image/top/mv_bg1.png) center center/cover no-repeat;
}
#top .mv__img--03 {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 68vh;
  aspect-ratio: 609/556;
  transform: translateX(-23%);
  background: url(../image/top/mv_wolf.png) center center/cover no-repeat;
}
@media screen and (min-width: 770px) {
  #top .mv__img--03 {
    height: auto;
    width: 122.83rem;
    transform: translateX(-16%);
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__img--03 {
    z-index: -1;
    width: 75.3rem;
    transform: translateX(43%);
  }
}
#top .mv__img--04 {
  position: absolute;
  bottom: 0;
  right: -170px;
  z-index: -2;
  width: 66rem;
  aspect-ratio: 1140/812;
  background: url(../image/top/mv_bg2.png) center center/cover no-repeat;
}
@media screen and (min-width: 770px) {
  #top .mv__img--04 {
    right: -70px;
    width: 197.22rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__img--04 {
    right: auto;
    left: 27%;
    width: 114rem;
    min-height: 100vh;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__img--04::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30vw;
    height: 100vh;
    background: #fff;
  }
}
#top .mv__txtBox {
  width: 35rem;
  margin: 0 auto;
  margin-top: 11.8vh;
}
@media screen and (min-width: 770px) {
  #top .mv__txtBox {
    width: fit-content;
    margin: 0;
    margin-top: 9.8vh;
    margin-left: 6.1588rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__txtBox {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    margin-left: 3.1rem;
    transform: translateY(-50%);
  }
}
#top .mv__catchcopy--en {
  line-height: 0.9;
  letter-spacing: -0.03em;
  font-family: "M PLUS 1", sans-serif;
  font-size: 6.7rem;
}
@media screen and (min-width: 770px) {
  #top .mv__catchcopy--en {
    font-size: 23.528rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__catchcopy--en {
    font-size: 11.8rem;
  }
}
#top .mv__catchcopy--en:nth-child(3) {
  margin-bottom: 0.5rem;
}
#top .mv__catchcopy--en:nth-child(3)::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 1rem;
  margin-left: calc(50% - 50vw);
  background: #000;
}
@media screen and (min-width: 770px) {
  #top .mv__catchcopy--en:nth-child(3)::after {
    height: 2.3px;
    margin-top: 3.114rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__catchcopy--en:nth-child(3)::after {
    height: 2px;
    margin-top: 1rem;
  }
}
#top .mv__catchcopy--en span {
  position: relative;
}
#top .mv__catchcopy--en span::before {
  content: "U";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: #000;
  color: #fff;
}
#top .mv__catchcopy--ja {
  letter-spacing: 0.04em;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .mv__catchcopy--ja {
    padding-left: 0.865rem;
    font-size: 5.017rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__catchcopy--ja {
    padding-left: 0.5rem;
    font-size: 2.5rem;
  }
}
#top .mv__roundIcon {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.7vh;
  aspect-ratio: 1/1;
  background: url(../image/top/round_logo.svg) center center/contain no-repeat;
}
@media screen and (min-width: 770px) {
  #top .mv__roundIcon {
    bottom: 8.823rem;
    left: 8.823rem;
    height: 9vh;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__roundIcon {
    bottom: 5.1rem;
    left: 5.1rem;
    height: 13.3vh;
  }
}
#top .mv__roundIcon::before {
  content: "";
  position: absolute;
  display: block;
  height: 16vh;
  aspect-ratio: 1/1;
  background: url(../image/top/round_text.svg) center center/contain no-repeat;
}
@media screen and (min-width: 770px) {
  #top .mv__roundIcon::before {
    height: 11.3vh;
  }
}
@media screen and (min-width: 1000px) {
  #top .mv__roundIcon::before {
    height: 16.7vh;
  }
}
#top .about {
  position: relative;
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 13rem;
  padding-top: 13rem;
}
@media screen and (min-width: 770px) {
  #top .about {
    width: fit-content;
    margin-bottom: 12rem;
    padding-top: 17rem;
  }
}
#top .about__ttl {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 3.9rem;
}
@media screen and (min-width: 770px) {
  #top .about__ttl {
    font-size: 4.9rem;
  }
}
#top .about__ttlInner {
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
  -webkit-text-fill-color: transparent;
}
#top .about__ttlInner::before {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  background: #000;
  transform: translateX(-151%) skew(-23deg);
}
#top .about__ttlInner span::before {
  transform: scaleX(0) translateY(-50%);
}
#top .about__box {
  margin-bottom: 4rem;
}
#top .about__txt {
  line-height: 2;
  font-size: 1.7rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .about__txt {
    line-height: 1.67;
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 770px) {
  #top .about__txt:nth-child(2) {
    transform: translateX(-2.1rem);
  }
}
@media screen and (min-width: 770px) {
  #top .about__txt:nth-child(3) {
    transform: translateX(-4.2rem);
  }
}
@media screen and (min-width: 770px) {
  #top .about__br {
    display: none;
  }
}
#top .about__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .about__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .about__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
#top .about__bgBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 308vh;
  transform: translateX(-42.5vh);
}
@media screen and (min-width: 770px) {
  #top .about__bgBox {
    left: 5.19rem;
  }
}
@media screen and (min-width: 1000px) {
  #top .about__bgBox {
    left: -3.4rem;
  }
}
#top .about__bgBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 1;
  display: block;
  width: 200vw;
  height: 100%;
  background: #fff;
  transform-origin: bottom;
}
#top .about__bgImg--01 {
  position: absolute;
  top: 0;
  height: 308vh;
  aspect-ratio: 1392/2606;
  background: url(../image/top/top_bg1.png) center center/cover;
}
#top .about__bgImg--02 {
  position: absolute;
  top: 112px;
  z-index: -1;
  height: 260vh;
  aspect-ratio: 1224/2202;
  transform: translateX(-20px);
  background: url(../image/top/top_bg2.png) center center/cover;
}
#top .service {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 13rem;
}
@media screen and (min-width: 770px) {
  #top .service {
    display: flex;
    justify-content: space-between;
    width: 100rem;
    margin-bottom: 16.7rem;
  }
}
#top .service__box:nth-child(1) {
  margin-bottom: 6rem;
}
@media screen and (min-width: 770px) {
  #top .service__box:nth-child(1) {
    width: 35rem;
    margin: 0;
  }
}
#top .service__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 0.9;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .service__ttl {
    font-size: 7.1rem;
  }
}
#top .service__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 770px) {
  #top .service__ttl::after {
    height: 2px;
  }
}
#top .service__ttl span {
  position: relative;
}
#top .service__ttl span::before {
  content: "S";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  padding-top: 0.3rem;
  background: #000;
  color: #fff;
}
#top .service__ttlInner {
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
  -webkit-text-fill-color: transparent;
}
#top .service__ttlInner::before {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  background: #000;
  transform: translateX(-151%) skew(-23deg);
}
#top .service__ttlInner span::before {
  transform: scaleX(0) translateY(-50%);
}
#top .service__sub {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .service__sub {
    font-size: 1.6rem;
  }
}
#top .service__txt {
  margin-bottom: 4rem;
  line-height: 1.78;
  font-size: 1.4rem;
}
@media screen and (min-width: 770px) {
  #top .service__txt {
    margin-bottom: 5rem;
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#top .service__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .service__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .service__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn {
    margin: 0;
  }
}
#top .service__pic {
  position: relative;
}
@media screen and (min-width: 770px) {
  #top .service__pic {
    width: 60.9rem;
    aspect-ratio: 609/359;
  }
}
#top .service__pic::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}
@media screen and (min-width: 770px) {
  #top .service__pic::after {
    top: 3.1rem;
    left: 5rem;
  }
}
#top .service__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top .blog {
  margin-bottom: 13rem;
}
@media screen and (min-width: 770px) {
  #top .blog {
    margin-bottom: 12.5rem;
  }
}
#top .blog__box {
  width: fit-content;
  margin: 0 auto;
}
#top .blog__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 0.9;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .blog__ttl {
    font-size: 7.1rem;
  }
}
#top .blog__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 770px) {
  #top .blog__ttl::after {
    height: 2px;
  }
}
#top .blog__ttl span {
  position: relative;
}
#top .blog__ttl span::before {
  content: "B";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  padding-top: 0.3rem;
  background: #000;
  color: #fff;
}
#top .blog__ttl::after {
  margin-left: 0;
  margin-right: calc(50% - 50vw);
}
#top .blog__ttlInner {
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
  -webkit-text-fill-color: transparent;
}
#top .blog__ttlInner::before {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  background: #000;
  transform: translateX(-151%) skew(-23deg);
}
#top .blog__ttlInner span::before {
  transform: scaleX(0) translateY(-50%);
}
#top .blog__sub {
  margin-bottom: 4rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .blog__sub {
    font-size: 1.6rem;
  }
}
#top .blog-swiper {
  margin-left: 3rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 770px) {
  #top .blog-swiper {
    margin-left: 0;
    margin-bottom: 5rem;
    padding-left: 17%;
  }
}
#top .blog__link {
  display: block;
}
@media screen and (min-width: 770px) {
  #top .blog__link:hover img {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 770px) {
  #top .blog__link:hover p {
    color: #888;
  }
}
#top .blog__pic {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 300/168;
  margin-bottom: 2.7rem;
}
#top .blog__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
#top .blog__info {
  margin-bottom: 0.4rem;
  color: #4d4d4d;
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .blog__info {
    font-size: 1.6rem;
    transition: 0.3s;
  }
}
#top .blog__cap {
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .blog__cap {
    line-height: 1.75;
    font-size: 2rem;
    transition: 0.3s;
  }
}
#top .blog__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .blog__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .blog__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
#top .member {
  margin-bottom: 10rem;
}
@media screen and (min-width: 770px) {
  #top .member {
    margin-bottom: 12rem;
  }
}
#top .member__box {
  width: 33rem;
  margin: 0 auto;
}
@media screen and (min-width: 770px) {
  #top .member__box {
    width: 100rem;
  }
}
#top .member__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 0.9;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .member__ttl {
    font-size: 7.1rem;
  }
}
#top .member__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 770px) {
  #top .member__ttl::after {
    height: 2px;
  }
}
#top .member__ttl span {
  position: relative;
}
#top .member__ttl span::before {
  content: "M";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  padding-top: 0.3rem;
  background: #000;
  color: #fff;
}
#top .member__ttlInner {
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
  -webkit-text-fill-color: transparent;
}
#top .member__ttlInner::before {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  background: #000;
  transform: translateX(-151%) skew(-23deg);
}
#top .member__ttlInner span::before {
  transform: scaleX(0) translateY(-50%);
}
#top .member__sub {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .member__sub {
    font-size: 1.6rem;
  }
}
#top .member__pic {
  position: relative;
  z-index: -1;
  display: block;
  width: 33.5rem;
  aspect-ratio: 335/198;
  margin-bottom: 5rem;
}
@media screen and (min-width: 770px) {
  #top .member__pic {
    width: 100rem;
    aspect-ratio: 1000/316;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
}
#top .member__pic::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 31rem;
  aspect-ratio: 310/272;
  transform: translate(60%, -40%);
  background: url(../image/top/plants.png) center center/cover;
}
@media screen and (min-width: 770px) {
  #top .member__pic::before {
    width: 51rem;
    transform: translate(47%, -40%);
  }
}
#top .member__pic::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}
@media screen and (min-width: 770px) {
  #top .member__pic::after {
    top: 2.6rem;
    left: 4.4rem;
  }
}
#top .member__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top .member__txt {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  line-height: 2;
  font-size: 1.4rem;
}
@media screen and (min-width: 770px) {
  #top .member__txt {
    width: 100rem;
    margin-bottom: 5rem;
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#top .member__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .member__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .member__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn {
    margin: 0;
    margin-left: 21rem;
  }
}
#top .loopTxt {
  margin-bottom: 10rem;
}
@media screen and (min-width: 770px) {
  #top .loopTxt {
    margin-bottom: 12.6rem;
  }
}
#top .loopTxt__wrapper {
  display: flex;
}
#top .loopTxt__img {
  height: 7rem;
  aspect-ratio: 2108/140;
  background: url(../image/top/loop_text.svg) center center/contain no-repeat;
}
@media screen and (min-width: 770px) {
  #top .loopTxt__img {
    height: 12.8rem;
  }
}
#top .recruit {
  position: relative;
  margin-bottom: 13rem;
  background: url(../image/top/banner_bg_sp.jpg) center center/cover;
}
@media screen and (min-width: 770px) {
  #top .recruit {
    margin-bottom: 13.7rem;
    background: url(../image/top/banner_bg_pc.jpg) center center/cover;
  }
}
#top .recruit::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  height: 29.1rem;
  aspect-ratio: 419/539;
  transform: translate(-40%, 5%);
  background: url(../image/top/banner_climbing.png) center center/contain no-repeat;
  pointer-events: none;
  transition: 0.4s;
}
@media screen and (min-width: 770px) {
  #top .recruit::before {
    height: 52rem;
    transform: translate(0, 5%);
  }
}
#top .recruit::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  display: block;
  width: 11.5rem;
  aspect-ratio: 257/371;
  transform: translate(-20%, -40%);
  background: url(../image/top/banner_logo.svg) center center/contain no-repeat;
  transition: 0.4s;
}
@media screen and (min-width: 770px) {
  #top .recruit::after {
    width: 24rem;
    transform: translate(-40%, -47%);
  }
}
@media screen and (min-width: 770px) {
  #top .recruit:hover::before {
    transform: translate(2%, 5%) scale(1.05);
  }
}
@media screen and (min-width: 770px) {
  #top .recruit:hover::after {
    transform: translate(-43%, -47%) scale(1.05);
  }
}
#top .recruit__link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 2rem 1.5rem 1.8rem;
}
@media screen and (min-width: 770px) {
  #top .recruit__link {
    padding: 2rem;
  }
}
#top .recruit__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.8rem 0 2.5rem;
  border: 2px solid #000;
}
@media screen and (min-width: 770px) {
  #top .recruit__wrapper {
    padding: 12.2rem 0 6.9rem;
  }
}
#top .recruit__catchcopy {
  background: linear-gradient(90deg, #0000A9 0%, #970054 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  width: fit-content;
  margin-bottom: 1.9rem;
  padding-left: 5.3rem;
  line-height: 1;
  font-family: "M PLUS 1", sans-serif;
  font-size: 3.8rem;
}
@media screen and (min-width: 770px) {
  #top .recruit__catchcopy {
    margin-bottom: 1.5rem;
    padding: 0;
    font-size: 6.7rem;
  }
}
#top .recruit__catchcopy::before {
  content: "You Can!";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  padding: 1rem;
  transform: rotate(-16.6deg) translate(10%, -40%);
  background: #b3b3b3;
  font-family: "Allura", cursive;
  font-size: 4rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 770px) {
  #top .recruit__catchcopy::before {
    padding: 2rem;
    transform: rotate(-16.6deg) translate(-20%, -72%);
    font-size: 9rem;
  }
}
#top .recruit__txt {
  width: fit-content;
  margin-bottom: 2.4rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .recruit__txt {
    margin-bottom: 2.1rem;
    font-size: 2rem;
  }
}
#top .recruit__br--pc {
  display: none;
}
@media screen and (min-width: 770px) {
  #top .recruit__br--pc {
    display: block;
  }
}
@media screen and (min-width: 770px) {
  #top .recruit__br--sp {
    display: none;
  }
}
#top .recruit__btn {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.7rem;
  padding: 1rem 0;
  transform: skewX(-20deg);
  background: linear-gradient(90deg, #FF00D1 0%, #F7931E 100%);
}
@media screen and (min-width: 770px) {
  #top .recruit__btn {
    width: 22rem;
  }
}
@media screen and (min-width: 770px) {
  #top .recruit__btn::before {
    content: "";
    position: absolute;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: scale(0);
    border-radius: 50%;
    background: linear-gradient(90deg, #0000A9 0%, #970054 100%);
    transition: 0.4s;
  }
}
#top .recruit__btn::after {
  content: "";
  position: absolute;
  width: 1.9rem;
  aspect-ratio: 192/82;
  background: url(../image/arrow.svg) center center/contain no-repeat;
  transform: skew(20deg) translateX(290%);
}
@media screen and (min-width: 770px) {
  #top .recruit__btn::after {
    transform: skew(20deg) translateX(330%);
  }
}
@media screen and (min-width: 770px) {
  #top .recruit__btn:hover::before {
    transform: none;
  }
}
#top .recruit__btnTxt {
  display: block;
  transform: skewX(20deg);
  text-align: center;
  color: #fff;
  font-family: "futura-pt", sans-serif;
  font-size: 1.3rem;
}
@media screen and (min-width: 770px) {
  #top .recruit__btnTxt {
    font-size: 1.6rem;
  }
}
#top .news {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 17.2rem;
}
@media screen and (min-width: 770px) {
  #top .news {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100rem;
    margin-bottom: 13.4rem;
  }
}
#top .news__box {
  position: relative;
}
@media screen and (min-width: 770px) {
  #top .news__box {
    top: -1.2rem;
  }
}
#top .news__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 0.9;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .news__ttl {
    font-size: 7.1rem;
  }
}
#top .news__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 770px) {
  #top .news__ttl::after {
    height: 2px;
  }
}
#top .news__ttl span {
  position: relative;
}
#top .news__ttl span::before {
  content: "N";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  padding-top: 0.3rem;
  background: #000;
  color: #fff;
}
#top .news__ttlInner {
  overflow: hidden;
  position: relative;
  padding-top: 0.5rem;
  -webkit-text-fill-color: transparent;
}
#top .news__ttlInner::before {
  content: "";
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  background: #000;
  transform: translateX(-151%) skew(-23deg);
}
#top .news__ttlInner span::before {
  transform: scaleX(0) translateY(-50%);
}
#top .news__sub {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .news__sub {
    font-size: 1.6rem;
  }
}
#top .news__ul {
  margin-bottom: 4rem;
  border-top: 1px solid #000;
}
@media screen and (min-width: 770px) {
  #top .news__ul {
    width: 73.1rem;
    margin: 0;
  }
}
#top .news__list {
  border-bottom: 1px solid #000;
}
#top .news__link {
  display: block;
  padding: 1.5rem 0;
  transition: 0.2s;
}
@media screen and (min-width: 770px) {
  #top .news__link {
    display: flex;
    align-items: center;
    padding: 1.9rem 0;
  }
}
@media screen and (min-width: 770px) {
  #top .news__link:hover {
    background: #eee;
  }
}
#top .news__date {
  line-height: 2;
  font-size: 1.4rem;
}
@media screen and (min-width: 770px) {
  #top .news__date {
    width: 17.5rem;
    text-align: center;
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#top .news__cap {
  line-height: 1.86;
  font-size: 1.5rem;
}
@media screen and (min-width: 770px) {
  #top .news__cap {
    width: 55.6rem;
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#top .news__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .news__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .news__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 105%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn {
    position: absolute;
    bottom: 0;
  }
}

/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
#archive .wrapper {
  position: relative;
}
#archive .pageTtl {
  margin-top: 112px;
  margin-left: 3.3rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 770px) {
  #archive .pageTtl {
    margin-top: 139px;
    margin-left: 22rem;
    margin-bottom: 6.4rem;
  }
}
#archive .pageTtl__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 0.9;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #archive .pageTtl__ttl {
    font-size: 7.1rem;
  }
}
#archive .pageTtl__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 770px) {
  #archive .pageTtl__ttl::after {
    height: 2px;
  }
}
#archive .pageTtl__ttl span {
  position: relative;
}
#archive .pageTtl__ttl span::before {
  content: "B";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  padding-top: 0.3rem;
  background: #000;
  color: #fff;
}
#archive .pageTtl__ttl::after {
  transform: scaleX(1);
}
#archive .pageTtl__sub {
  font-size: 1.2rem;
  font-weight: 700;
}
#archive .category {
  position: relative;
  top: 0;
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 8rem;
  transition: 0.4s;
}
@media screen and (min-width: 770px) {
  #archive .category {
    width: 43.7rem;
    margin-bottom: 8.5rem;
  }
}
#archive .category__name {
  position: relative;
  top: 0;
  margin-bottom: 6rem;
  line-height: 0.97;
  font-size: 3.6rem;
  font-weight: 700;
  transition: 0.4s;
}
@media screen and (min-width: 770px) {
  #archive .category__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.88;
    font-size: 4rem;
  }
}
#archive .category__name::before {
  content: "CATEGORY";
  display: block;
  width: 11.4rem;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #archive .category__name::before {
    width: 14.5rem;
    margin-bottom: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.4rem;
    font-size: 2.4rem;
  }
}
#archive .category__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
  border-bottom: 2px solid #000;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #archive .category__btn {
    display: none;
  }
}
#archive .category__btn::after {
  content: "";
  display: block;
  width: 3.5rem;
  aspect-ratio: 35/27;
  background: url(../image/blog/cat_arrow.svg) center center/contain no-repeat;
  transition: 0.3s;
}
#archive .category__ul {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  transform: translateY(99%);
  transition: 0.4s;
}
@media screen and (min-width: 770px) {
  #archive .category__ul {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 40.5rem;
    height: auto;
    margin: 0 auto;
    transform: none;
    background: transparent;
  }
}
#archive .category__ul a {
  display: block;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #archive .category__ul a {
    padding: 1rem 0;
    transition: 0.3s;
  }
}
@media screen and (min-width: 770px) {
  #archive .category__ul a:hover {
    color: #888;
  }
}
@media screen and (min-width: 770px) {
  #archive .category .current-cat {
    border-bottom: 2px solid #000;
  }
}
@media screen and (min-width: 770px) {
  #archive .category .current-cat a:hover {
    color: #000;
  }
}
#archive .archive {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}
@media screen and (min-width: 770px) {
  #archive .archive {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 3rem;
    width: 124.2rem;
  }
}
#archive .archive__slide {
  margin-bottom: 3rem;
  box-shadow: 0 0.4rem 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 770px) {
  #archive .archive__slide {
    width: 39.4rem;
    margin-bottom: 0;
  }
}
#archive .archive__slide:nth-last-child(1) {
  margin-bottom: 0;
}
#archive .archive__link {
  display: block;
}
@media screen and (min-width: 770px) {
  #archive .archive__link:hover img {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 770px) {
  #archive .archive__link:hover p {
    color: #888;
  }
}
#archive .archive__pic {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 330/186;
}
#archive .archive__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
#archive .archive__box {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
}
#archive .archive__info {
  margin-bottom: 0.4rem;
  color: #4d4d4d;
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #archive .archive__info {
    font-size: 1.6rem;
    transition: 0.3s;
  }
}
#archive .archive__cap {
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #archive .archive__cap {
    font-size: 2rem;
    transition: 0.3s;
  }
}
#archive .pagenation {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 17.2rem;
}
@media screen and (min-width: 770px) {
  #archive .pagenation {
    margin-bottom: 18.2rem;
  }
}
#archive .wp-pagenavi {
  display: flex;
  gap: 0.2rem;
}
#archive .wp-pagenavi a, #archive .wp-pagenavi span {
  display: block;
  width: 4rem;
  padding: 0.9rem 0;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
#archive .wp-pagenavi a:nth-child(1), #archive .wp-pagenavi span:nth-child(1) {
  border-radius: 999px 0 0 999px;
}
#archive .wp-pagenavi a:nth-last-child(1), #archive .wp-pagenavi span:nth-last-child(1) {
  border-radius: 0 999px 999px 0;
}
#archive .wp-pagenavi a {
  transition: 0.3s;
}
@media screen and (min-width: 770px) {
  #archive .wp-pagenavi a:hover {
    background: #aaa;
  }
}
#archive .wp-pagenavi .current {
  background: #888;
}
#archive .pageBg {
  position: absolute;
  top: -112px;
  left: 0;
  z-index: -5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 308vh;
  transform: translateX(-42.5vh);
}
@media screen and (min-width: 770px) {
  #archive .pageBg {
    top: -139px;
    left: 5.19rem;
  }
}
@media screen and (min-width: 1000px) {
  #archive .pageBg {
    left: -5rem;
  }
}
#archive .pageBg__img--01 {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 308vh;
  aspect-ratio: 1392/2606;
  background: url(../image/child/child_bg1.png) center center/cover;
}
#archive .pageBg__img--02 {
  position: absolute;
  top: 112px;
  z-index: -2;
  height: 260vh;
  aspect-ratio: 1224/2202;
  transform: translateX(-20px);
  background: url(../image/child/child_bg2.png) center center/cover;
}

/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
#single .wrapper {
  position: relative;
}
#single .pageTtl {
  margin-top: 112px;
  margin-left: 3.3rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 770px) {
  #single .pageTtl {
    margin-top: 139px;
    margin-left: 22rem;
    margin-bottom: 6.7rem;
  }
}
#single .pageTtl__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 0.9;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #single .pageTtl__ttl {
    font-size: 7.1rem;
  }
}
#single .pageTtl__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
}
@media screen and (min-width: 770px) {
  #single .pageTtl__ttl::after {
    height: 2px;
  }
}
#single .pageTtl__ttl span {
  position: relative;
}
#single .pageTtl__ttl span::before {
  content: "B";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  padding-top: 0.3rem;
  background: #000;
  color: #fff;
}
#single .pageTtl__ttl::after {
  transform: scaleX(1);
}
#single .pageTtl__sub {
  font-size: 1.2rem;
  font-weight: 700;
}
#single .content {
  width: 36rem;
  margin: 0 auto;
  margin-bottom: 18rem;
  padding: 3.5rem 1.5rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0.4rem 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 770px) {
  #single .content {
    width: 124rem;
    margin-bottom: 26.5rem;
    padding: 10rem 12rem;
  }
}
#single .content__info {
  margin-bottom: 2rem;
  color: #4d4d4d;
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #single .content__info {
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }
}
#single .content__cap {
  margin-bottom: 3rem;
  line-height: 1.4;
  font-size: 2.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #single .content__cap {
    margin-bottom: 6rem;
    line-height: 1;
    font-size: 3.4rem;
  }
}
#single .content__pic {
  width: 100%;
  aspect-ratio: 1000/592;
  margin-bottom: 4rem;
}
@media screen and (min-width: 770px) {
  #single .content__pic {
    margin-bottom: 6rem;
  }
}
#single .content__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#single .content__area {
  margin-bottom: 8rem;
  font-size: 1.4rem;
}
@media screen and (min-width: 770px) {
  #single .content__area {
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#single .content__area > * {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 770px) {
  #single .content__area > * {
    margin-bottom: 2rem;
  }
}
#single .content__area > *:nth-last-child(1) {
  margin-bottom: 0;
}
#single .content__area h2 {
  line-height: 1;
  font-size: 2.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #single .content__area h2 {
    font-size: 2.8rem;
  }
}
#single .content__area h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
  line-height: 1.17;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #single .content__area h3 {
    padding-bottom: 1rem;
    font-size: 2.4rem;
  }
}
#single .content__area h4 {
  padding-left: 1rem;
  padding-bottom: 0.1rem;
  border-left: 4px solid #000;
  line-height: 1.4;
  font-size: 1.6rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #single .content__area h4 {
    padding-bottom: 0.3rem;
    font-size: 2rem;
  }
}
#single .content__area h5 {
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #single .content__area h5 {
    font-size: 1.6rem;
  }
}
#single .content__area strong {
  font-weight: 700;
}
#single .content__area a {
  color: #00c2ff;
  font-weight: 700;
  transition: 0.3s;
}
@media screen and (min-width: 770px) {
  #single .content__area a:hover {
    color: #8adbf3;
  }
}
#single .content__area table, #single .content__area th, #single .content__area td {
  border-collapse: collapse;
  border: 1px solid #999;
  text-align: left;
}
#single .content__area th, #single .content__area td {
  padding: 0.5rem 1rem;
  line-height: 2.2;
}
@media screen and (min-width: 770px) {
  #single .content__area th, #single .content__area td {
    padding: 1rem 2rem;
  }
}
#single .content__area table {
  width: 100%;
}
#single .content__area th {
  background: #ebebeb;
}
#single .content__area ol {
  margin-left: 1.8rem;
  list-style-type: decimal;
}
#single .content__area ol li {
  padding-left: 0.4rem;
}
@media screen and (min-width: 770px) {
  #single .content__area ol li {
    padding-left: 0.9rem;
  }
}
#single .content__area ul {
  margin-left: 2rem;
  list-style-type: disc;
}
#single .content__area ul li {
  padding-left: 0.2rem;
}
@media screen and (min-width: 770px) {
  #single .content__area ul li {
    padding-left: 0.5rem;
  }
}
#single .content__area li::marker {
  color: #ED1E79;
}
@media screen and (min-width: 770px) {
  #single .content__area li::marker {
    line-height: 1.67;
    font-size: 1.8rem;
  }
}
#single .content__nav {
  display: flex;
  justify-content: space-between;
  font-family: "futura-pt", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #single .content__nav {
    font-size: 1.6rem;
  }
}
#single .content__prevLink {
  position: relative;
  display: block;
  width: 5.6rem;
  text-align: right;
  transition: 0.3s;
}
@media screen and (min-width: 770px) {
  #single .content__prevLink {
    width: 7.4rem;
  }
}
@media screen and (min-width: 770px) {
  #single .content__prevLink:hover {
    filter: invert(60%);
  }
}
#single .content__prevLink::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5rem;
  aspect-ratio: 192/82;
  transform: translate(0, -50%) rotate(180deg);
  background: url(../image/single/arrow_black.svg) center center/contain no-repeat;
}
@media screen and (min-width: 770px) {
  #single .content__prevLink::before {
    width: 1.92rem;
  }
}
#single .content__nextLink {
  position: relative;
  display: block;
  width: 5.6rem;
  transition: 0.3s;
}
@media screen and (min-width: 770px) {
  #single .content__nextLink {
    width: 7.4rem;
  }
}
@media screen and (min-width: 770px) {
  #single .content__nextLink:hover {
    filter: invert(60%);
  }
}
#single .content__nextLink::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.5rem;
  aspect-ratio: 192/82;
  transform: translate(0, -50%);
  background: url(../image/single/arrow_black.svg) center center/contain no-repeat;
}
@media screen and (min-width: 770px) {
  #single .content__nextLink::after {
    width: 1.92rem;
  }
}
#single .pageBg {
  position: absolute;
  top: -112px;
  left: 0;
  z-index: -5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 308vh;
  transform: translateX(-42.5vh);
}
@media screen and (min-width: 770px) {
  #single .pageBg {
    top: -139px;
    left: 5.19rem;
  }
}
@media screen and (min-width: 1000px) {
  #single .pageBg {
    left: -5rem;
  }
}
#single .pageBg__img--01 {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 308vh;
  aspect-ratio: 1392/2606;
  background: url(../image/child/child_bg1.png) center center/cover;
}
#single .pageBg__img--02 {
  position: absolute;
  top: 112px;
  z-index: -2;
  height: 260vh;
  aspect-ratio: 1224/2202;
  transform: translateX(-20px);
  background: url(../image/child/child_bg2.png) center center/cover;
}

/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.loader::before {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;
  background: #000;
  transform: skewX(-23deg);
  animation: translateBgLeft 0.1s 2.2s forwards;
}
@keyframes translateBgLeft {
  100% {
    transform: skewX(-23deg) translateY(-100%);
  }
}
.loader::after {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;
  background: #000;
  transform: skewX(-23deg);
  animation: translateBgRight 0.1s 2.2s forwards;
}
@keyframes translateBgRight {
  100% {
    transform: skewX(-23deg) translateY(100%);
  }
}
.loader__logo {
  position: absolute;
  z-index: 1;
  width: 20rem;
  aspect-ratio: 161/54;
  background: url(../image/footer_logo.svg) center center/contain no-repeat;
  transform: scale(50);
  animation: scaleDownLogo 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards, opacityDownLogo 0.2s 1.8s forwards;
}
@keyframes scaleDownLogo {
  100% {
    transform: scale(1);
  }
}
@keyframes opacityDownLogo {
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 770px) {
  .loader__logo {
    width: 50rem;
  }
}

#top .slideInImg {
  opacity: 0;
  transform: translateX(-5%);
  animation: slideInAnime 0.3s 2.3s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .slideInCopy {
  opacity: 0;
}
@media screen and (max-width: 999px) {
  #top .slideInCopy {
    transform: translate(-5%, 0);
    animation: slideInAnime 0.3s 2.3s forwards;
  }
  @keyframes slideInAnime {
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1000px) {
  #top .slideInCopy {
    transform: translate(-5%, -50%);
    animation: slideInCopy 0.3s 2.3s forwards;
  }
  @keyframes slideInCopy {
    100% {
      transform: translate(0%, -50%);
      opacity: 1;
    }
  }
}
#top .slideInCopy p:nth-child(3)::after {
  transform: scaleX(0);
  transform-origin: left;
  animation: scaleUpLine 0.3s 2.4s forwards;
}
@keyframes scaleUpLine {
  100% {
    transform: scaleX(1);
  }
}

.slideTxt {
  animation: slideTxtAnime 20s linear infinite;
}

@keyframes slideTxtAnime {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.rotateTxt::before {
  animation: rotateTxtAnime 30s linear infinite;
}

@keyframes rotateTxtAnime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
.translateNav {
  transform: translateY(0);
}
.translateNav::after {
  transform: rotate(23deg) translate(50%, 20%);
}
.translateNav .gnav__sp {
  transform: translateX(0);
  opacity: 1;
  transition: 0.4s 0.4s;
}

.rotateTop {
  transform: rotate(45deg);
}

.hideMiddle {
  opacity: 0;
}

.rotateBottom {
  transform: rotate(-45deg);
}

.changeLogoColor {
  filter: invert(100%);
}

.hidden {
  transform: translateX(-5%);
  opacity: 0;
}

#top .show .about__ttlInner {
  animation: showTtl 0.5s 0.3s forwards;
}
@keyframes showTtl {
  100% {
    -webkit-text-fill-color: currentcolor;
  }
}
#top .show .about__ttlInner::before {
  animation: slideBox 0.5s 0.3s forwards;
}
@keyframes slideBox {
  100% {
    transform: translateX(151%) skew(-23deg);
  }
}
#top .show .about__ttlInner span::before {
  animation: scaleUpBg 0.1s 0.3s forwards;
}
@keyframes scaleUpBg {
  100% {
    transform: scaleX(1) translateY(-50%);
  }
}
#top .show .about__box {
  animation: slideInAnime 0.3s 0.6s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .about__btn {
  animation: slideInAnime 0.3s 0.9s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .about__bgBox::before {
  animation: scaleDown 0.6s 0.1s forwards;
}
@keyframes scaleDown {
  100% {
    transform: scaleY(0);
  }
}
#top .show .service__ttl::after {
  animation: scaleUpLine 0.5s 0.3s forwards;
}
@keyframes scaleUpLine {
  100% {
    transform: scaleX(1);
  }
}
#top .show .service__ttlInner {
  animation: showTtl 0.5s 0.3s forwards;
}
@keyframes showTtl {
  100% {
    -webkit-text-fill-color: currentcolor;
  }
}
#top .show .service__ttlInner::before {
  animation: slideBox 0.5s 0.3s forwards;
}
@keyframes slideBox {
  100% {
    transform: translateX(151%) skew(-23deg);
  }
}
#top .show .service__ttlInner span::before {
  animation: scaleUpBg 0.1s 0.3s forwards;
}
@keyframes scaleUpBg {
  100% {
    transform: scaleX(1) translateY(-50%);
  }
}
#top .show .service__sub, #top .show .service__txt {
  animation: slideInAnime 0.3s 0.6s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .service__btn {
  animation: slideInAnime 0.3s 0.9s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .service__box {
  animation: slideInAnime 0.3s 1.2s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .blog__ttl::after {
  animation: scaleUpLine 0.5s 0.3s forwards;
}
@keyframes scaleUpLine {
  100% {
    transform: scaleX(1);
  }
}
#top .show .blog__ttlInner {
  animation: showTtl 0.5s 0.3s forwards;
}
@keyframes showTtl {
  100% {
    -webkit-text-fill-color: currentcolor;
  }
}
#top .show .blog__ttlInner::before {
  animation: slideBox 0.5s 0.3s forwards;
}
@keyframes slideBox {
  100% {
    transform: translateX(151%) skew(-23deg);
  }
}
#top .show .blog__ttlInner span::before {
  animation: scaleUpBg 0.1s 0.3s forwards;
}
@keyframes scaleUpBg {
  100% {
    transform: scaleX(1) translateY(-50%);
  }
}
#top .show .blog__sub {
  animation: slideInAnime 0.3s 0.6s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .blog__btn {
  animation: slideInAnime 0.3s 0.9s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .member__ttl::after {
  animation: scaleUpLine 0.5s 0.3s forwards;
}
@keyframes scaleUpLine {
  100% {
    transform: scaleX(1);
  }
}
#top .show .member__ttlInner {
  animation: showTtl 0.5s 0.3s forwards;
}
@keyframes showTtl {
  100% {
    -webkit-text-fill-color: currentcolor;
  }
}
#top .show .member__ttlInner::before {
  animation: slideBox 0.5s 0.3s forwards;
}
@keyframes slideBox {
  100% {
    transform: translateX(151%) skew(-23deg);
  }
}
#top .show .member__ttlInner span::before {
  animation: scaleUpBg 0.1s 0.3s forwards;
}
@keyframes scaleUpBg {
  100% {
    transform: scaleX(1) translateY(-50%);
  }
}
#top .show .member__sub {
  animation: slideInAnime 0.3s 0.6s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .member__pic {
  animation: slideInAnime 0.3s 0.9s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .member__txt {
  animation: slideInAnime 0.3s 1.2s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .member__btn {
  animation: slideInAnime 0.3s 1.5s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show.recruit {
  animation: slideInAnime 0.3s 0.6s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show.recruit .recruit__wrapper {
  animation: slideInAnime 0.3s 0.9s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .news__ttl::after {
  animation: scaleUpLine 0.5s 0.3s forwards;
}
@keyframes scaleUpLine {
  100% {
    transform: scaleX(1);
  }
}
#top .show .news__ttlInner {
  animation: showTtl 0.5s 0.3s forwards;
}
@keyframes showTtl {
  100% {
    -webkit-text-fill-color: currentcolor;
  }
}
#top .show .news__ttlInner::before {
  animation: slideBox 0.5s 0.3s forwards;
}
@keyframes slideBox {
  100% {
    transform: translateX(151%) skew(-23deg);
  }
}
#top .show .news__ttlInner span::before {
  animation: scaleUpBg 0.1s 0.3s forwards;
}
@keyframes scaleUpBg {
  100% {
    transform: scaleX(1) translateY(-50%);
  }
}
#top .show .news__sub {
  animation: slideInAnime 0.3s 0.6s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .news__ul {
  animation: slideInAnime 0.3s 0.9s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#top .show .news__btn {
  animation: slideInAnime 0.3s 1.2s forwards;
}
@keyframes slideInAnime {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#archive .opened {
  top: -4rem;
}
#archive .opened .category__name {
  top: 2rem;
}
#archive .opened .category__btn::after {
  transform: rotate(180deg);
}
#archive .opened .category__ul {
  height: 24rem;
  padding: 1rem 0;
}