@charset "UTF-8";
/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
/* ================================================================
変数
================================================================ */
/* ================================================================
mixin
================================================================ */
#top .mv {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}
#top .mv__imgBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1000px) {
  #top .mv__imgBox {
    left: -3.4rem;
  }
}
#top .mv__img--01 {
  position: absolute;
  height: 100vh;
  aspect-ratio: 664/812;
  background: url(../image/top/mv_city.png) center center/cover;
}
#top .mv__img--02 {
  position: absolute;
  bottom: -1px;
  z-index: -1;
  height: 86.7vh;
  aspect-ratio: 620/703;
  transform: translateX(-13%);
  background: url(../image/top/mv_bg1.png) center center/cover;
}
#top .mv__img--03 {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 68vh;
  aspect-ratio: 609/556;
  transform: translateX(-23%);
  background: url(../image/top/mv_wolf.png) center center/cover;
}
@media screen and (min-width: 1000px) {
  #top .mv__img--03 {
    z-index: -1;
    height: 84.7vh;
    transform: translateX(43%);
  }
}
#top .mv__img--04 {
  position: absolute;
  bottom: 0;
  right: -170px;
  z-index: -2;
  width: 66rem;
  aspect-ratio: 1140/812;
  background: url(../image/top/mv_bg2.png) center center/cover;
}
@media screen and (min-width: 1000px) {
  #top .mv__img--04 {
    right: auto;
    left: 26%;
    width: 114rem;
  }
}
#top .mv__txtBox {
  width: 35rem;
  margin: 0 auto;
  margin-top: 11.8vh;
}
@media screen and (min-width: 1000px) {
  #top .mv__txtBox {
    position: absolute;
    top: 50%;
    left: 0;
    width: fit-content;
    margin: 0;
    margin-left: 3.1rem;
    transform: translateY(-50%);
  }
}
#top .mv__catchcopy--en {
  line-height: 0.9;
  letter-spacing: -0.03em;
  font-family: "M PLUS 1", sans-serif;
  font-size: 6.7rem;
}
@media screen and (min-width: 1000px) {
  #top .mv__catchcopy--en {
    font-size: 11.8rem;
  }
}
#top .mv__catchcopy--en:nth-child(3) {
  margin-bottom: 0.5rem;
}
#top .mv__catchcopy--en:nth-child(3)::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 1rem;
  margin-left: calc(50% - 50vw);
  background: #000;
}
@media screen and (min-width: 1000px) {
  #top .mv__catchcopy--en:nth-child(3)::after {
    height: 2px;
  }
}
#top .mv__catchcopy--en span {
  position: relative;
}
#top .mv__catchcopy--en span::before {
  content: "U";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: #000;
  color: #fff;
}
#top .mv__catchcopy--ja {
  letter-spacing: 0.04em;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 1000px) {
  #top .mv__catchcopy--ja {
    padding-left: 0.5rem;
    font-size: 2.5rem;
  }
}
#top .mv__roundIcon {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.7vh;
  aspect-ratio: 1/1;
  background: url(../image/top/round_logo.svg) center center/contain;
}
@media screen and (min-width: 1000px) {
  #top .mv__roundIcon {
    bottom: 5.1rem;
    left: 5.1rem;
    height: 13.3vh;
  }
}
#top .mv__roundIcon::before {
  content: "";
  position: absolute;
  display: block;
  height: 16vh;
  aspect-ratio: 1/1;
  background: url(../image/top/round_text.svg) center center/contain;
}
@media screen and (min-width: 1000px) {
  #top .mv__roundIcon::before {
    height: 16.7vh;
  }
}
#top .about {
  position: relative;
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 13rem;
  padding-top: 13rem;
}
@media screen and (min-width: 770px) {
  #top .about {
    width: fit-content;
    margin-bottom: 12rem;
    padding-top: 17rem;
  }
}
#top .about__ttl {
  margin-bottom: 4rem;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 3.9rem;
}
@media screen and (min-width: 770px) {
  #top .about__ttl {
    font-size: 4.9rem;
  }
}
#top .about__box {
  margin-bottom: 4rem;
}
#top .about__txt {
  line-height: 2;
  font-size: 1.7rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .about__txt {
    line-height: 1.67;
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 770px) {
  #top .about__txt:nth-child(2) {
    transform: translateX(-2.1rem);
  }
}
@media screen and (min-width: 770px) {
  #top .about__txt:nth-child(3) {
    transform: translateX(-4.2rem);
  }
}
@media screen and (min-width: 770px) {
  #top .about__br {
    display: none;
  }
}
#top .about__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .about__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .about__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .about__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
#top .about__bgBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 308vh;
  transform: translateX(-42.5vh);
}
@media screen and (min-width: 1000px) {
  #top .about__bgBox {
    left: -3.4rem;
  }
}
#top .about__bgImg--01 {
  position: absolute;
  top: 0;
  height: 308vh;
  aspect-ratio: 1392/2606;
  background: url(../image/top/top_bg1.png) center center/cover;
}
#top .about__bgImg--02 {
  position: absolute;
  top: 112px;
  z-index: -1;
  height: 260vh;
  aspect-ratio: 1224/2202;
  transform: translateX(-20px);
  background: url(../image/top/top_bg2.png) center center/cover;
}
#top .service {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 13rem;
}
@media screen and (min-width: 770px) {
  #top .service {
    display: flex;
    justify-content: space-between;
    width: 100rem;
    margin-bottom: 16.7rem;
  }
}
#top .service__box:nth-child(1) {
  margin-bottom: 6rem;
}
@media screen and (min-width: 770px) {
  #top .service__box:nth-child(1) {
    width: 35rem;
    margin: 0;
  }
}
#top .service__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .service__ttl {
    font-size: 7.1rem;
  }
}
#top .service__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
}
@media screen and (min-width: 770px) {
  #top .service__ttl::after {
    height: 2px;
  }
}
#top .service__ttl span {
  position: relative;
}
#top .service__ttl span::before {
  content: "S";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: #000;
  color: #fff;
}
#top .service__sub {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .service__sub {
    font-size: 1.6rem;
  }
}
#top .service__txt {
  margin-bottom: 4rem;
  line-height: 1.78;
  font-size: 1.4rem;
}
@media screen and (min-width: 770px) {
  #top .service__txt {
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#top .service__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .service__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .service__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 770px) {
  #top .service__btn {
    margin: 0;
  }
}
#top .service__pic {
  position: relative;
}
@media screen and (min-width: 770px) {
  #top .service__pic {
    width: 60.9rem;
    aspect-ratio: 609/359;
  }
}
#top .service__pic::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}
@media screen and (min-width: 770px) {
  #top .service__pic::after {
    top: 3.1rem;
    left: 5rem;
  }
}
#top .service__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top .blog {
  margin-bottom: 13rem;
}
@media screen and (min-width: 770px) {
  #top .blog {
    margin-bottom: 12.5rem;
  }
}
#top .blog__box {
  width: fit-content;
  margin: 0 auto;
}
#top .blog__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .blog__ttl {
    font-size: 7.1rem;
  }
}
#top .blog__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
}
@media screen and (min-width: 770px) {
  #top .blog__ttl::after {
    height: 2px;
  }
}
#top .blog__ttl span {
  position: relative;
}
#top .blog__ttl span::before {
  content: "B";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: #000;
  color: #fff;
}
#top .blog__ttl::after {
  margin-left: 0;
  margin-right: calc(50% - 50vw);
}
#top .blog__sub {
  margin-bottom: 4rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .blog__sub {
    font-size: 1.6rem;
  }
}
#top .blog-swiper {
  margin-left: 3rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 770px) {
  #top .blog-swiper {
    margin-left: 0;
    margin-bottom: 5rem;
    padding-left: 17%;
  }
}
#top .blog__link {
  display: block;
}
@media screen and (min-width: 770px) {
  #top .blog__link:hover img {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 770px) {
  #top .blog__link:hover p {
    color: #888;
  }
}
#top .blog__pic {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 300/168;
  margin-bottom: 2.7rem;
}
#top .blog__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
#top .blog__info {
  margin-bottom: 0.4rem;
  color: #4d4d4d;
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .blog__info {
    font-size: 1.6rem;
    transition: 0.3s;
  }
}
#top .blog__cap {
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .blog__cap {
    line-height: 1.75;
    font-size: 2rem;
    transition: 0.3s;
  }
}
#top .blog__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .blog__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .blog__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .blog__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
#top .member {
  margin-bottom: 10rem;
}
@media screen and (min-width: 770px) {
  #top .member {
    margin-bottom: 12rem;
  }
}
#top .member__box {
  width: 33rem;
  margin: 0 auto;
}
@media screen and (min-width: 770px) {
  #top .member__box {
    width: 100rem;
  }
}
#top .member__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .member__ttl {
    font-size: 7.1rem;
  }
}
#top .member__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
}
@media screen and (min-width: 770px) {
  #top .member__ttl::after {
    height: 2px;
  }
}
#top .member__ttl span {
  position: relative;
}
#top .member__ttl span::before {
  content: "M";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: #000;
  color: #fff;
}
#top .member__sub {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  #top .member__sub {
    font-size: 1.6rem;
  }
}
#top .member__pic {
  position: relative;
  display: block;
  width: 33.5rem;
  aspect-ratio: 335/198;
  margin-bottom: 5rem;
}
@media screen and (min-width: 770px) {
  #top .member__pic {
    width: 100rem;
    aspect-ratio: 1000/316;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
}
#top .member__pic::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 31rem;
  aspect-ratio: 310/272;
  transform: translate(60%, -40%);
  background: url(../image/top/plants.png) center center/cover;
}
@media screen and (min-width: 770px) {
  #top .member__pic::before {
    width: 51rem;
    transform: translate(47%, -40%);
  }
}
#top .member__pic::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}
@media screen and (min-width: 770px) {
  #top .member__pic::after {
    top: 2.6rem;
    left: 4.4rem;
  }
}
#top .member__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top .member__txt {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  line-height: 2;
  font-size: 1.4rem;
}
@media screen and (min-width: 770px) {
  #top .member__txt {
    width: 100rem;
    margin-bottom: 5rem;
    line-height: 1.75;
    font-size: 1.6rem;
  }
}
#top .member__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .member__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .member__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 770px) {
  #top .member__btn {
    margin: 0;
    margin-left: 21rem;
  }
}
#top .loopTxt {
  margin-bottom: 10rem;
}
@media screen and (min-width: 770px) {
  #top .loopTxt {
    margin-bottom: 12.6rem;
  }
}
#top .loopTxt__wrapper {
  display: flex;
}
#top .loopTxt__img {
  height: 7rem;
  aspect-ratio: 2108/140;
  background: url(../image/top/loop_text.svg) center center/contain;
}
@media screen and (min-width: 770px) {
  #top .loopTxt__img {
    height: 12.8rem;
  }
}
#top .recruit {
  position: relative;
  margin-bottom: 13rem;
  background: url(../image/top/banner_bg_sp.jpg) center center/cover;
}
#top .recruit::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  height: 29.1rem;
  aspect-ratio: 419/539;
  transform: translate(-40%, 5%);
  background: url(../image/top/banner_climbing.png) center center/contain;
  pointer-events: none;
}
#top .recruit::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  display: block;
  width: 11.5rem;
  aspect-ratio: 257/371;
  transform: translate(-20%, -40%);
  background: url(../image/top/banner_logo.svg) center center/contain;
}
#top .recruit__link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 2rem 1.5rem 1.8rem;
}
#top .recruit__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.8rem 0 2.5rem;
  border: 2px solid #000;
}
#top .recruit__catchcopy {
  background: linear-gradient(90deg, #0000A9 0%, #970054 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  width: fit-content;
  margin-bottom: 1.9rem;
  padding-left: 5.3rem;
  line-height: 1;
  font-family: "M PLUS 1", sans-serif;
  font-size: 3.8rem;
}
#top .recruit__catchcopy::before {
  content: "You Can!";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  padding: 1rem;
  transform: rotate(-16.6deg) translate(10%, -40%);
  background: #b3b3b3;
  font-family: "Allura", cursive;
  font-size: 4rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#top .recruit__txt {
  width: fit-content;
  margin-bottom: 2.4rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 700;
}
#top .recruit__br--pc {
  display: none;
}
#top .recruit__btn {
  width: 16.7rem;
  padding: 1rem 0;
  transform: skewX(-20deg);
  background: linear-gradient(90deg, #FF00D1 0%, #F7931E 100%);
}
#top .recruit__btnTxt {
  display: block;
  transform: skewX(20deg);
  text-align: center;
  color: #fff;
  font-family: "futura-pt", sans-serif;
  font-size: 1.3rem;
}
#top .news {
  width: 33rem;
  margin: 0 auto;
  margin-bottom: 17.2rem;
}
#top .news__ttl {
  width: fit-content;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "M PLUS 1", sans-serif;
  font-size: 5.3rem;
}
@media screen and (min-width: 770px) {
  #top .news__ttl {
    font-size: 7.1rem;
  }
}
#top .news__ttl::after {
  content: "";
  display: block;
  height: 1.2px;
  margin-top: 0.5rem;
  margin-left: calc(50% - 50vw);
  background: #000;
}
@media screen and (min-width: 770px) {
  #top .news__ttl::after {
    height: 2px;
  }
}
#top .news__ttl span {
  position: relative;
}
#top .news__ttl span::before {
  content: "N";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: #000;
  color: #fff;
}
#top .news__sub {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
#top .news__ul {
  margin-bottom: 4rem;
  border-top: 1px solid #000;
}
#top .news__list {
  border-bottom: 1px solid #000;
}
#top .news__link {
  display: block;
  padding: 1.5rem 0;
}
#top .news__date {
  line-height: 2;
  font-size: 1.4rem;
}
#top .news__cap {
  line-height: 1.86;
  font-size: 1.5rem;
}
#top .news__btn {
  width: 16.8rem;
  margin: 0 auto;
}
#top .news__btn a {
  display: block;
  padding: 0.8rem 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (min-width: 770px) {
  #top .news__btn a {
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    background: #000;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #fff;
    transition: 0.4s;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a:hover {
    color: #000;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 770px) {
  #top .news__btn a:hover::after {
    transform: translate(-50%, -50%);
  }
}